In [123]:
import json
import pandas as pd
import numpy as np
import numpy as np
import time
from datetime import datetime, timedelta
import requests
import utils

In [153]:
#Set the subreddit

subreddit = "thewallstreet"



#Set date range

start = "2020-05-01"
end = "2020-10-01"

date_range = pd.date_range(start, end)

In [159]:
#Get market history
nasdaq_history_df = pd.read_csv("Nasdaq_history_5_yrs.csv")

nasdaq_history_df["label"] = np.sign(nasdaq_history_df["Close"] - nasdaq_history_df["Open"])
nasdaq_history_df["label"] = nasdaq_history_df["label"].apply(lambda x: 1 if x>0 else 0)
nasdaq_history_df.drop(axis=1, columns=["Close", "Adj Close"], inplace=True)

nasdaq_history_df.head()

         Date         Open         High          Low      Volume  label
0  2015-12-21  4957.529785  4968.919922  4928.930176  1673400000      1
1  2015-12-22  4988.680176  5007.770020  4964.080078  1556670000      1
2  2015-12-23  5025.549805  5046.089844  5020.439941  1591490000      1
3  2015-12-24  5046.189941  5063.279785  5043.649902   706880000      1
4  2015-12-28  5032.290039  5041.270020  4999.069824  1310650000      1

In [154]:
#Make a df with the date range and a combined body of text for all comments extracted on that day

comments_by_date_df = pd.DataFrame()
comments_by_date_df["Date"] = date_range
comments_by_date_df["Date"] = comments_by_date_df["Date"].apply(lambda x: str(x.date()))
comments_by_date_df[subreddit + " Comments"] = [""] * len(comments_by_date_df)


for date in date_range:
    url = utils.create_url(subreddit, date)
    data = requests.get(url).json()["data"]
    
    combined_comments = ""
    for comment in data:
        combined_comments += " " 
        combined_comments += comment["body"]
        
    comments_by_date_df.loc[comments_by_date_df["Date"] == str(date.date()), [subreddit + " Comments"]] = combined_comments
    
display(comments_by_date_df)

           Date                             thewallstreet Comments
0    2020-05-01   Bear thesis : Everybody is a a bull. Capital ...
1    2020-05-02   Any notable info? Nobody has heard of him at ...
2    2020-05-03   hm I got into some twitter shares by assignme...
3    2020-05-04   AAPL goes up this week now that big boys got ...
4    2020-05-05   Uhhh hoping it's in the inbox cus I wiped the...
..          ...                                                ...
149  2020-09-27   No one cared in January/February when the sig...
150  2020-09-28   Imo Google is more powerful than any governme...
151  2020-09-29   &gt; McAfee (MCFE) files for an IPO to list o...
152  2020-09-30   Thinking about adding a 10/18 GSX risk revers...
153  2020-10-01   Lol, I’ve actually never watched TradesByMatt...

[154 rows x 2 columns]

In [160]:
#Merge the two datasets by date
nasdaq_history_df = nasdaq_history_df.merge(comments_by_date_df, on="Date")

In [161]:
nasdaq_history_df

,Date,Open,High,Low,Volume,label,thewallstreet Comments
0,2020-05-01,8681.290039,8754.459961,8566.839844,3722520000,0,Bear thesis : Everybody is a a bull. Capital ...
1,2020-05-04,8555.320313,8715.820313,8537.830078,3422150000,1,AAPL goes up this week now that big boys got ...
2,2020-05-05,8809.660156,8909.959961,8781.309570,3913360000,0,Uhhh hoping it's in the inbox cus I wiped the...
3,2020-05-06,8874.700195,8933.250000,8819.370117,3620030000,0,"ATM leap calls, sell weekly 20 delta calls. T..."
4,2020-05-07,8973.780273,9015.990234,8932.860352,3762070000,1,"Yup S2F is a meme Yeah, I don't think it make..."
...,...,...,...,...,...,...,...
102,2020-09-25,10680.459961,10939.549805,10639.980469,3767230000,1,Feel like the hourly shows much better perspe...
103,2020-09-28,11084.379883,11120.790039,11019.139648,3562900000,1,Imo Google is more powerful than any governme...
104,2020-09-29,11109.000000,11153.230469,11065.629883,3363870000,0,&gt; McAfee (MCFE) files for an IPO to list o...
105,2020-09-30,11092.900391,11277.959961,11092.900391,4228200000,1,Thinking about adding a 10/18 GSX risk revers...
106,2020-10-01,11291.990234,11344.129883,11240.530273,3978100000,1,"Lol, I’ve actually never watched TradesByMatt..."

In [162]:
#Utils functions weren't working for some reason

from textblob import TextBlob
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

def getPolarity(text):
    return TextBlob(text).sentiment.polarity

def getSubjectivity(text):
    return TextBlob(text).sentiment.subjectivity

def getSIA(text):
    sia = SentimentIntensityAnalyzer()
    sentiment = sia.polarity_scores(text)
    return sentiment

In [163]:
nasdaq_history_df["Polarity"] = nasdaq_history_df[subreddit + " Comments"].apply(getPolarity)
nasdaq_history_df["Subjectivity"] = nasdaq_history_df[subreddit + " Comments"].apply(getSubjectivity)

In [164]:
compound = []
neg = []
neu = []
pos = []
SIA = 0

for i in range(0, len(nasdaq_history_df[subreddit + ' Comments'])):
    SIA = getSIA(nasdaq_history_df[subreddit + ' Comments'][i])
    compound.append(SIA['compound'])
    neg.append(SIA['neg'])
    neu.append(SIA['neu'])
    pos.append(SIA['pos'])
    
    
nasdaq_history_df['Compound'] =compound
nasdaq_history_df['Negative'] =neg
nasdaq_history_df['Neutral'] =neu
nasdaq_history_df['Positive'] = pos

In [165]:
nasdaq_history_df.head()

,Date,Open,High,Low,Volume,label,thewallstreet Comments,Polarity,Subjectivity,Compound,Negative,Neutral,Positive
0,2020-05-01,8681.290039,8754.459961,8566.839844,3722520000,0,Bear thesis : Everybody is a a bull. Capital ...,0.194846,0.509993,0.9997,0.079,0.734,0.187
1,2020-05-04,8555.320313,8715.820313,8537.830078,3422150000,1,AAPL goes up this week now that big boys got ...,0.194137,0.536002,0.9998,0.064,0.744,0.192
2,2020-05-05,8809.660156,8909.959961,8781.309570,3913360000,0,Uhhh hoping it's in the inbox cus I wiped the...,0.114095,0.473629,0.9995,0.092,0.773,0.134
3,2020-05-06,8874.700195,8933.250000,8819.370117,3620030000,0,"ATM leap calls, sell weekly 20 delta calls. T...",0.125695,0.495926,0.9995,0.081,0.772,0.147
4,2020-05-07,8973.780273,9015.990234,8932.860352,3762070000,1,"Yup S2F is a meme Yeah, I don't think it make...",0.090374,0.479575,0.9995,0.080,0.790,0.130

In [166]:
keep_columns = ['Open',  'High', 'Low', 'Volume', 'Subjectivity', 'Polarity', 'Compound', 'Negative', 'Neutral' ,'Positive',  'label' ]
ml_df = nasdaq_history_df[keep_columns]
ml_df

,Open,High,Low,Volume,Subjectivity,Polarity,Compound,Negative,Neutral,Positive,label
0,8681.290039,8754.459961,8566.839844,3722520000,0.509993,0.194846,0.9997,0.079,0.734,0.187,0
1,8555.320313,8715.820313,8537.830078,3422150000,0.536002,0.194137,0.9998,0.064,0.744,0.192,1
2,8809.660156,8909.959961,8781.309570,3913360000,0.473629,0.114095,0.9995,0.092,0.773,0.134,0
3,8874.700195,8933.250000,8819.370117,3620030000,0.495926,0.125695,0.9995,0.081,0.772,0.147,0
4,8973.780273,9015.990234,8932.860352,3762070000,0.479575,0.090374,0.9995,0.080,0.790,0.130,1
...,...,...,...,...,...,...,...,...,...,...,...
102,10680.459961,10939.549805,10639.980469,3767230000,0.473467,0.126871,0.9997,0.076,0.787,0.137,1
103,11084.379883,11120.790039,11019.139648,3562900000,0.503544,0.088826,0.9993,0.092,0.771,0.137,1
104,11109.000000,11153.230469,11065.629883,3363870000,0.507713,0.153895,0.9989,0.098,0.767,0.136,0
105,11092.900391,11277.959961,11092.900391,4228200000,0.549470,0.100020,0.9980,0.127,0.691,0.182,1
106,11291.990234,11344.129883,11240.530273,3978100000,0.450156,0.116947,0.9983,0.070,0.809,0.121,1

In [167]:
from sklearn.model_selection import train_test_split
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.metrics import classification_report

In [168]:
#Create the feature data set
X = ml_df
X = np.array(X.drop(['label'],1))
#Create the target data set
y = np.array(ml_df['label'])

In [169]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 0)

In [170]:
model = LinearDiscriminantAnalysis().fit(x_train, y_train)

In [171]:
#Get the models predictions/classification
predictions = model.predict(x_test)
predictions

array([1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0])

In [172]:
#Show the models metrics
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.83      0.56      0.67         9
           1       0.75      0.92      0.83        13

    accuracy                           0.77        22
   macro avg       0.79      0.74      0.75        22
weighted avg       0.78      0.77      0.76        22

In [175]:
baseline_if_guessing = nasdaq_history_df["label"].sum() / len(nasdaq_history_df["label"])
baseline_if_guessing

0.6074766355140186